
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(56, 104, 236);
    color: white;
    margin : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.pw-container {
    background-color: rgb(21, 61, 170);
    min-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.5);
}

.pw-header {
    padding: 1rem;
    
}

.pw {
    background-color: rgb(56, 104, 236);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
}

.pw:hover button{
    opacity: 1;
    transform : translate(0, 20%);
}

.pw button {
    background-color: rgb(52, 136, 151);
    border: none;
    color: white;
    font-family: inherit;
    padding: 0.25rem 0.5rem;
    position: absolute;
    bottom: 0;
    right : 0;
    transform : translate(0, 50%);
    cursor:pointer;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;

}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    margin : 0.5rem 0;
}

.generate {
    margin-top : 1rem;
    background-color: rgb(137, 218, 56);
    color : white;
    border : none;
    font-size : 2rem;
    border-radius: 5px;
    padding : 0.5rem;
    width: 100%;
    display: block;
    cursor: pointer;
}