
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Newsreader', sans-serif;
    margin : 0;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg,
    #2a2a72 0%, #009ffd 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input {
    background-color: #55a7d6;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color:white;
    border : none;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

input::placeholder{
    color : #eee;
}

input:focus{
    outline:none;
}

.card {
    background-color: #7979b4;
    background-image: linear-gradient(315deg,
    #7979b4 0%, #55a7d6 100%);
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    border-radius: 20px;
    min-width: 600px;
    max-width: 900px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border : 10px solid #2a9cdf;
}

.user-info {
    margin-left: 2rem;
    color: #eee;
}

.user-info h2 {
    margin-top : 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    max-width: 600px;
}

.user-info ul li {
    margin: 1rem 0 1rem;
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    margin-right: 1rem;
}

.repo {
    background-color: #2a2a72;
    display:inline-block;
    color:white;
    padding : 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 0.7rem;
    border-radius: 5px;
    
}